.active-todo {
  width: 100%;
}
.active-to-do-header {
  width: fit-content;
  margin: 0px auto 50px auto;
  font-size: 18px;
  font-weight: 700;
}
.active-content {
  width: 100%;
}

.active-content table {
  width: 100%;
  border: 1px solid #000000;
}

table {
  width: 100%;
  text-align: center;
  border-collapse: collapse;
  border: none;
}
table tr th,
td {
  padding: 15px;
  border: 1px solid #c7c7c7;
  font-weight: 300;
  font-size: 14px;
}
